<form  novalidate [formGroup]="resetPassword" (ngSubmit)="onSubmit()">

<div class="form-group col-md-6" [ngClass]="{'has-error': resetPassword.get('email').errors && (resetPassword.get('email').touched || resetPassword.get('email').dirty)}">
  <label class="col-sm-2 control-label" for="inputEmail4">Email</label>
  <input formControlName="email" type="text" class="form-control" ng-pattern="/[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?/" id="inputEmail" placeholder="Email">
 
 
  <span class= "help-block" *ngIf="resetPassword.get('email').errors && (resetPassword.get('email').touched || resetPassword.get('email').dirty || resetPassword.get('email').hasError('pattern'))">
    <small class="text-danger" *ngIf="resetPassword.get('email').errors">
      Enter valid email id
    </small>
  </span>
</div>
<div class="form-group col-md-10">
  <div class="btn-toolbar">
    <button type="submit"  [disabled]="resetPassword.invalid" class="btn btn-primary">Send Email</button>
    </div>
    </div>
</form>