
<button type="button" routerLink="/add-employee" class="btn btn-primary float-right">Add Employee</button>
<div class="btn-toolbar">
<button type="button" routerLink="/login" class="btn btn-primary float-right" (click)="logedOut()">Log Out</button>
</div>
 <h2 style="align-content: flex-start" >Employees </h2>
<div class="container">
<table class="table table-striped">


  <thead>
    <tr>
      <th scope="col">No</th>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of employees; index as i">
      <td>{{i+1}}</td>
      <td><ngx-avatar name="{{data.firstName}}" src="http://localhost:3001/{{data.image}}"  [round]="true"></ngx-avatar></td>
      <td>{{data.firstName}}</td>
      <td>{{data.lastName}}</td>
      <td><a routerLink="/update-employee/{{data._id}}" 
        
         class="btn btn-warning btn-sm">Edit</a>
        <a  (click)="del(data._id)" class="btn btn-danger btn-sm ml-2">Delete</a> </td>
    </tr>
  </tbody>
</table>

</div>