
<form  novalidate [formGroup]="submitForm" (ngSubmit)="submit()">

  <div class="form-group col-md-6" [ngClass]="{'has-error': submitForm.get('password').errors && (submitForm.get('password').touched || submitForm.get('password').dirty)}">
    <label class="col-sm-2 control-label" for="inputPassword">Password</label>
    <input formControlName="password" type="password" class="form-control"  id="inputPassword" placeholder="Password">
   
   
    <span class= "help-block" *ngIf="submitForm.get('password').errors && (submitForm.get('password').touched || submitForm.get('password').dirty)">
      <small class="text-danger" *ngIf="submitForm.get('password').errors">
        Password is requied
      </small>
    </span>
  </div>


  <div class="form-group col-md-6" [ngClass]="{'has-error': submitForm.get('confirmPassword').errors && (submitForm.get('confirmPassword').touched || submitForm.get('confirmPassword').dirty)}">
    <label class="col-sm-2 control-label" for="inputPassword">Confirm Password</label>
    <input formControlName="confirmPassword" type="password" class="form-control"  id="inputPassword" placeholder="Confirm Password">
   
   
    <span class= "help-block" *ngIf="submitForm.get('confirmPassword').errors && (submitForm.get('confirmPassword').touched || submitForm.get('confirmPassword').dirty)">
      <small class="text-danger" *ngIf="submitForm.get('confirmPassword').errors">
        Password is requied
      </small>
    </span>
  </div>
  <div class="form-group col-md-10">
    <div class="btn-toolbar">
      <button type="submit"  [disabled]="submitForm.invalid" class="btn btn-primary">Save</button>
      </div>
      </div>
  </form>
